.sidebar {
  position: fixed;
  top: 0;
  left: -150px; /* hide the nav bar off-screen */
  width: 150px;
  border-radius: 0 20px 20px 0;
  height: 100%;
  background-color: #171c4f;
  transition: left 0.5s ease-in-out;
}

.close-nav {
  position: absolute;
  transform: rotate(180deg);
  opacity: 50%;
  top: 160px;
  right: -30px; /* position the arrow off-screen */
  font-size: 24px;
  color: #000000;
  text-decoration: none;
  transition: right 1s ease-in-out, transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.close-nav.hover {
  transform: rotate(180deg);
}

.close-nav:hover {
  opacity: inherit;
  transform: rotate(+360deg);
}

.close-nav i {
  color: white;
  background-color: none;
}

.sidebar.show {
  left: 0; /* show the nav bar when the .show class is added */
}
  
.main {
  margin-left: 80px;
}
  
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
  
.sidebar li a i {
  color: white;
}
  
.sidebar li {
  color: rgb(255, 0, 0);
  margin: 15px 0;
  text-align: center;
}
  
.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
  
.sidebar a:hover {
  background-color: rgb(0, 0, 0);
  opacity: 50%;
  background-blend-mode: color-dodge;
  color: black;
}
.sidebar a.close-nav:hover {
  background-color: transparent;
  opacity: 100%;
  background-blend-mode: normal;
  color: black;
  }
  
.logo {
  margin: 20px 0;
  text-align: center;
}
  
.logo img {
  height: 25px;
  width: 50px;
  border-radius: 50px;
}
