/* Override the toggle navbar buttons color because this goes over white*/
.close-nav i {
  color: rgb(255, 0, 0);
  background-color: none;
}

          .registration-form {
              margin: 50px auto;
              width: 420px;
              height: 300px;
              background-color: #171c4f;
              padding: 20px;
              border-radius: 5px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          }
  
          .registration-form label {
              display: block;
              margin-bottom: 10px;
              font-weight: bold;
          }
  
          .registration-form input[type="email"],
          .registration-form input[type="password"],
          .registration-form select {
              width: 95%;
              padding: 10px;
              border: 1px solid #ccc;
              border-radius: 5px;
              margin-bottom: 10px;
              font-size: 16px;
          }
          #password {
            width: 95%;
            background-color: white;
            color: black;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 0px;
            font-size: 16px;
          }
          #psswdlbl {
              display: block;
              color: red;
              font-size: 12px;
              margin-bottom: 15px;
              margin-top: 0;
              font-weight: bold;
          }
  
          .registration-form button[type="button"] {
              background-color: #1b225d;
              color: #fff;
              border: none;
              padding: 10px 20px;
              border-radius: 5px;
              font-size: 16px;
              cursor: pointer;
          }
          
  
          .registration-form button[type="submit"]:hover {
              background-color: #0d1032;
          }
  
          .edition-dropdown {
              margin-top: 0px;
          }
  
          .edition-dropdown label {
              font-weight: bold;
              display: block;
              margin-bottom: 5px;
          }
  
          .edition-dropdown select {
              width: 100%;
              padding: 10px;
              border: 1px solid #ccc;
              border-radius: 5px;
              margin-bottom: 20px;
              font-size: 16px;
          }
          body {
          color: white;
    font-family: Bender;
  }
  
          .footer p {
              margin: 0;
          }