/* -------------------------------- SETTINGS -------------------------------- */
#settings-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(32px);
  padding: 20px;
  z-index: 999;
  display: none;
}

#loadingLabel {
  display: block;
  margin-top: 10px;
  color: white;
  font-family: 'Bender';
}

body {
  background: #1F1F1F;
}

#launchgamebutton {
  background-color: rgb(41, 41, 41);;
  position:absolute;
  top: 90.9vh;
  left: 7vh;
  color: white;
  padding: 8px 50px;
  border: none;
  border-radius: 5px;
  font-family: 'Bender';
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#launchgamebutton:hover {
  background-color: rgb(23, 23, 23);;
}

#settings-window.active {
  position: fixed;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  padding: 70px;
  z-index: 999;
  display: block;
}

#titlebar-settings {
  font-size: 70px;
}

#titlebar-settings:hover {
  animation: loading 1s linear infinite;
}

#loading-image {
  width: 50px;
  height: 50px;
  border-radius: 360px;
  background-color: white;
  border-radius: 100%;
}

#titlebar-settings.active {
  animation: loading 1s linear infinite;
}

#titlebar-settings.active {
  animation: loading 3s linear infinite;

  @keyframes loading {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(180deg);
    }
  }

  flex-direction: column;
}

#loadingimg {
  width: 50px;
  height: 50px;
  border-radius: 360px;
  background-color: #585858;
  border-radius: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes exit {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  100% {
    opacity: 0;
    transform: translate(-150%, -50%);
  }
}


@keyframes enter {
  0% {
    opacity: 0;
    transform: scale(0.3);
    background-color: rgba(0, 0, 0, 0);
    z-index: 99999;
  }

  30% {
    transform: scale(1.1);
    background-color: rgba(50, 50, 50, 0.7);
    z-index: 99999;
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
    background-color: rgba(50, 50, 50, 0);
    z-index: 99999;
  }
}

/* -------------------------------- TITLE BAR ------------------------------- */
.titlebar {
  height: 30px;
  background-image: linear-gradient(to right, #101010, #131010, #1f1d1d);
  user-select: #1b1b1b;
  display: flex;
  transition: opacity 0.5s ease-in-out;
  justify-content: flex-end;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  color: #1F1F1F;
  height: 30px;
  opacity: 75%;
  border: #ffffff;
}

.titlebar-button:hover {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  background-color: rgb(41, 41, 41);
  border-radius: 100%;
  height: 30px;
  opacity: 75%;
  border: #ffffff;
}

#titlebar-settings img {
  width: 95%;
  height: 95%;
  opacity: 100;
  fill: red;
  background-color: rgba(62, 62, 62, 0.432);
  border-radius: 100%;
}

#titlebar-maximize img {
  width: 95%;
  height: 95%;
  opacity: 100;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -150px;
  /* hide the nav bar off-screen */
  width: 150px;
  border-radius: 0 20px 20px 0;
  height: 100%;
  background-image: linear-gradient(to bottom, #101010, #131010, #1f1d1d);
  z-index: 5;
  transition: left 0.5s ease-in-out;

}

/* --------------------------------- IGNORE --------------------------------- */
body {
  color: white;
  background: black;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

main {
  padding: 0 4%;
  display: flex;
  flex-direction: row;
  margin: auto 0;
}

button {
  margin: 0;
  padding: 0.7rem 1.4rem;

  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 4px;
  outline: inherit;
  text-decoration: none;
  font-family: Bender, sans-serif;
  font-size: 0.7em;
  background-color: #2d2d2d;
  color: white;
}

button:hover {
  background-color:  #0e0e0e;
}

button:active {
  transform: scale(0.98);
}

button::-moz-focus-inner {
  border: 0;
}

.example-elements {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-right: 4%;
}

.example-elements p {
  padding: 6px;
  display: inline-block;
  margin-bottom: 5%;
  color: #fff;
}

.example-elements p:hover {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

.example-elements a {
  margin-left: 6px;
  margin-bottom: calc(5% + 10px);
  color: #76daff;
  text-decoration: none;
}

.example-elements a:hover {
  margin-bottom: calc(5% + 9px);
  border-bottom: 1px solid #76daff;
}

.example-elements button {
  margin-bottom: 20px;
}

.info-wrapper {
  flex-grow: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding-left: 6%;
  border-left: 3px solid #35ea95;
}

.info-wrapper p {
  color: whitesmoke;
}

.info-wrapper p {
  max-width: 600px;
  text-align: justify;
}

.info-wrapper .title-question {
  display: block;
  color: #fff;
  font-size: 1.36em;
  font-weight: 500;
  padding-bottom: 24px;
}


@media (max-height: 450px) {
  main {
    margin: 2rem 0;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 0.9em;
  }
}

/* Thumbnail settings */
@media (max-width: 750px) {
  html {
    animation-duration: 0.6s;
    font-size: 1em;
  }

  body {
    display: flex;
    background: none;
    height: 100%;
    margin: 0px;
  }

  main {
    font-size: 1.1em;
    padding: 6%;
  }

  .info-wrapper p:before,
  .info-wrapper p:after {
    display: none;
  }

  .example-elements {
    max-width: 150px;
    font-size: 22px;
  }


  .example-elements p:before,
  .example-elements p:after {
    visibility: visible;
    opacity: 1;
  }

  .example-elements p:before {
    content: "Tooltip";
    font-size: 20px;
    transform: translate(-50%, calc(0px - var(--arrow-size))) scale(1);
  }

  .example-elements p:after {
    transform: translate(-50%, -1px) scaleY(1);
  }


  [data-tooltip]:after {
    bottom: calc(100% + 3px);
  }

  [data-tooltip]:after {
    border-width: 7px 7px 0px 7px;
  }
}

body {
  background-color: #1F1F1F;
  font-family: Bender;
  list-style-type: none;
  text-shadow: 5px 3px black;

}

/* Show the tooltip text when you mouse over the tooltip container */

/* ------------------------------- NAVIGATION ------------------------------- */
.closenav {
  position: absolute;
  transform: rotate(90deg);
  opacity: 50%;
  top: -8px;
  size: large;
  right: -30px;
  /* position the arrow off-screen */
  font-size: 48px;
  color: white;
  fill: white;
  text-decoration: none;
  transition: right 1s ease-in-out, transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.closenav.hover {
  transform: rotate(+90deg);
}

.closenav:hover {
  opacity: inherit;
  transform: rotate(+180deg);
}

.closenav i {
  color: whitesmoke;
  background-color: none;
}

.sidebar.show {
  left: 0;
  /* show the nav bar when the .show class is added */
}



.main {
  margin-left: 80px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* -------------------- MIXED SORRY NOT SORTING THIS SHIT ------------------- */
input[type="text"],
input[type="button"],
input[type="username"],
input[type="email"],
input[type="password"],
.registration-form select,
#theme-select,
#language-select,
input[type="select"] {
  background-color: #1b1b1b;
  color: white;
  border: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

input[type="text"]:hover,
input[type="button"]:hover,
input[type="password"]:hover,
#theme-select:hover,
input[type="select"]:hover {
  background-color: #111111;
  color: white;
  border: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

.sidebar li a i {
  color: whitesmoke;
}

.sidebar li {
  color: rgb(255, 0, 0);
  margin: 15px 0;
  text-align: center;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.sidebar a:hover {
  background-color: rgb(0, 0, 0);
  opacity: 50%;
  background-blend-mode: color-dodge;
  color: whitesmoke;
}

.sidebar a.closenav:hover {
  background-color: transparent;
  opacity: 100%;
  background-blend-mode: normal;
  color: black;
}

.sidebar #DebugNav {
  width: 85%;
  height: 100%;
  transition: width 0.5s, transform 1s;
}

.sidebar li a i.fa-solid.fa-bug {
  opacity: 100%;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.sidebar li a i.fa-solid.fa-bug.active {
  opacity: 0%;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.sidebar #DebugNav.active {
  width: 170%;
  transform: rotateX(180deg);
  position: relative;
  left: 0px;
}

#DebugNav1,
#DebugNav2,
#DebugNav3,
#DebugNav4 {
  color: white;
  position: absolute;
  pointer-events: none;
  padding: 10px;
  top: 382px;
  font-size: 20px;
  left: 118px;
  opacity: 0%;
  transition: all 0.3s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  z-index: 6;
}

#DebugNav1.active:hover,
#DebugNav2.active:hover,
#DebugNav3.active:hover,
#DebugNav4.active:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.316);
  opacity: 50%;
  background-blend-mode: color-dodge;
}

#DebugNav1.active {
  position: absolute;
  display: block;
  pointer-events: auto;
  top: 382px;
  transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  left: 10px;
  opacity: 100%;
  z-index: 6;
}

#DebugNav2.active {
  position: absolute;
  display: inline;
  pointer-events: auto;
  top: 382px;
  transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  opacity: 100%;
  left: 45px;
  z-index: 6;
}

#DebugNav3.active {
  position: absolute;
  display: block;
  pointer-events: auto;
  top: 382px;
  transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  opacity: 100%;
  left: 80px;
  z-index: 6;
}

#DebugNav4.active {
  position: absolute;
  display: block;
  pointer-events: auto;
  top: 382px;
  transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  opacity: 100%;
  left: 110px;
  z-index: 6;
}

.logo {
  margin: 20px 0;
  text-align: center;
}

.logo img {
  height: 25px;
  width: 50px;
  border-radius: 50px;
}

.select {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  top: 7px;
  height: 20px;
  width: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"]:checked::before {
  background-color: #5cb85c;
  /* green */
  transform: translate(-50%, -50%) scale(1.2);
}

input[type="checkbox"]:not(:checked)::before {
  background-color: #d9534f;
  /* red */
  transform: translate(-50%, -50%) scale(0.8);
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 8px;
  background-color: #000000;
}

::-webkit-scrollbar-track {
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background-color: #0a0a0a;
  border-color: #1F1F1F;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1b1b1b;
  background-image: linear-gradient(to left, #1b1b1b, #000000);
}

/* -------------------------------------------------------------------------- */
/*                              MAIN.CS SPECIFICS                             */
/* -------------------------------------------------------------------------- */


a:link {
  color: #ff0000;
}
  
a:visited {
  color: #ff0000;
}
  
#greeting-box {
  display: flex;
  width: 750;
  justify-content: center;
  align-items: center;
  height: 25px;
  background-color: #484444;
  font-family: 'Bender';
  font-size: 20px;
    color: white;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  
  .news {
    padding: 20px;
  }
  
  .news h2 {
    color: white;
  }
  
  .news .article {
    background-color: #484444;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .news .article h3 {
    margin-top: 0;
  }
  
  .news .article p {
    color: #ffffff;
    line-height: 1.5;
  }
  .progress-bar-container {
    position:absolute;
    bottom: 1vh;
    top: 92vh;
    left: 70vh;
    right: 1vh;
    display: flex;
    align-items: center;
    width: 300px;
    height: 25px;
    background-color: #313131;
    border-radius: 10px;
  }

  .progress-bar {
    width: 0%;
    height: 100%;
    background-color: #000000;
    border-radius: 10px;
    transition: width 0.5s;
  }

  #bottombackground {
    position: absolute;
    height: 50px;
    top: 450px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  #xp_needed {
    position:absolute;
    bottom: 92vh;
    top: 92.5vh;
    text-decoration: underline;
    font-size: 100%;
    left: 90vh;
    opacity: 50%;
    right: 1vh;
    background-color: #171717;
    color:rgb(255, 255, 255);
    background-blend-mode:exclusion;
  }

  #levelnext {
    position:absolute;
    bottom: 92.25vh;
    top: 92.25vh;
    text-decoration:wavy;
    font-size: 125%;
    left: 132.5vh;
    opacity: 100%;
    right: 1vh;
    color:rgb(95, 93, 83)
  }

  #levelnow {
    position:absolute;
    bottom: 92.25vh;
    top: 92.25vh;
    text-decoration: wavy;
    font-size: 125%;
    left: 66.3vh;
    opacity: 50%;
    right: 1vh;
    color:white
  }


  /* -------------------------------- REGISTER -------------------------------- */
  /* Override the toggle navbar buttons color because this goes over white*/

          .registration-form {
              margin: 50px auto;
              width: 420px;
              height: 300px;
              background-color: #171717;
              padding: 20px;
              border-radius: 5px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          }
  
          .registration-form label {
              display: block;
              margin-bottom: 10px;
              font-weight: bold;
          }
  
          #psswdlbl {
              display: block;
              color: red;
              font-size: 12px;
              margin-bottom: 15px;
              margin-top: 0;
              font-weight: bold;
          }
  
          .registration-form button[type="button"] {
              background-color: red;
              color: #fff;
              border: none;
              padding: 10px 20px;
              border-radius: 5px;
              font-size: 16px;
              cursor: pointer;
          }
          
  
          .registration-form button[type="submit"]:hover {
              background-color: #0d1032;
          }
  
          .edition-dropdown {
              margin-top: 0px;
          }
  
          .edition-dropdown label {
              font-weight: bold;
              display: block;
              margin-bottom: 5px;
          }
  
          .edition-dropdown select {
              width: 100%;
              padding: 10px;
              border: 1px solid #ccc;
              border-radius: 5px;
              margin-bottom: 20px;
              font-size: 16px;
          }

  
          .footer p {
              margin: 0;
          }

          button #registerbtn {
            background-color: red;
            color: #fff;
            border: none;
            font-size: 25px;
            cursor: pointer;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        
        .floating-buttons {
            position: fixed;
            bottom: 20px;
            right: 20px;
          }
          
          
          #registerbtn {
            font-size: 50px;
            border-radius: 50%;
            transition: color 0.25s;

          }

          #registerbtn:hover {
            color:darkgreen
          }

          /* ------------------------------- CONFIG PAGE ------------------------------ */
          
          h1 {
            color: white;
          }
          
          #json-table {
            border-bottom: 2px solid #fff;
            margin-top: 20px;
            margin-bottom: 20px;
          }
          
          #json-table th {
            background-color: #171c4f;
            color: white;
            padding: 10px;
          }
          
          #json-table td {
            position: relative;
            border-top: 2px solid white;
            display: inline-table;
            flex-direction: column;
            padding: 2px;
            margin-bottom: 5px;
            bottom: 5px;
          }
          
          #json-table label {
            color: white;
            margin-bottom: 0px;
          }
          
          input[type="button"] {
            background-color: #171717;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
          }
        
          input[type="text"],
          input[type="number"],
          input[type="string"]
          {
            background-color: #171717;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
          }
        
        #json-table a {
        color: white
          }
        
        button #save-button {
            background-color: #000000;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        
        .floating-buttons {
            position: fixed;
            bottom: 20px;
            right: 20px;
          }
          
          #back-button {
            font-size: 24px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
          
          #save-button {
            font-size: 24px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-left: 20px;
          }

          #ohno {
            position: absolute;
            left: 280px;
        }
        
        #flavour {
            position: absolute;
            bottom: 300px;
            left: 67px;
            font-size: large;
        }
        
        #flavour2 {
            position: absolute;
            bottom: 250px;
            left: 135px;
            font-size: large;
        }
        
        #home404 {
            position: absolute;
            bottom: 190px;
            left: 310px;
            font-size: 300%;
        }